* {
	margin: unset;
	padding: unset;
	color: unset;
	border: unset;
	outline: unset;
	background: unset;
	font: unset;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .67em; }

a {
	color: red;
}