#dice {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	box-sizing: border-box;
	padding: 1ex 1em;
	width: 100%;
	height: 100%;
	
	.page-title {
		flex: 0 0 auto;
		font-size: 120%;
	}

	.result {
		@extend %unselectable;
		
		flex: 1 1 0;
		position: relative;
		width: 100%;

		.dice-view {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			
			.dice-image {
				margin: 0 1em;
				width: 15vh;
				height: 15vh;
				object-fit: contain;
			}
		}

		.number-view {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			font-size: 30vh;
			opacity: 0.5;
			color: white;
			@include blur-text-double(.1ex, .25ex, red);

			&.critical {
				color: white;
				@include blur-text-double(.1ex, .25ex, green);
			}

			&.fumble {
				color: white;
				@include blur-text-double(.1ex, .25ex, blue);
			}
		}
	}

	.mode-list {
		@extend %unselectable;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		flex: 0 0 auto;
		box-sizing: border-box;
		margin: 1ex 0;
		padding: 0 1em;
		width: 100%;

		& > .mode {
			flex: 1 1 auto;
			margin: 1ex .25em;
			box-sizing: border-box;
			width: calc(30% - .25em);
			border: solid 1px red;
			border-radius: 2ex/50%;
			text-align: center;
			cursor: pointer;

			&.selected {
				background: red;
			}
		}
	}

	.roll-button {
		@extend %unselectable;
		@extend %design-font;

		flex: 0 0 auto;
		margin: 0 0;
		padding: 0 .5em;
		border: none;
		background: radial-gradient(ellipse closest-side at 50% 75%, rgba(255,0,0,0.5), transparent);
		font-size: 5rem;
		cursor: pointer;

		&:active {
			background: radial-gradient(ellipse closest-side at 50% 75%, rgba(0,255,0,0.5), transparent);
		}
	}
}