#home {
	.contents {
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
		
		.page-title {
			font-size: 1.2em;
			text-align: center;
		}

		.heading {
			margin: 1ex 0;
			text-align: center;

			&::before, &::after {
				content: "-";
			}
		}

		.table {
			display: table;
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;

			& > * {
				display: table-row;

				& > * {
					display: table-cell;
					box-sizing: border-box;
					padding: .5ex .5em;
					border: solid 1px red;
				}
			}
		}

		.basics {
			text-align: center;

			dt { width: 30%; }
			dd { width: 70%; }
		}

		.copyrights {
			font-size: .8em;

			dt { width: 55%; }
			dd { width: 45%; }
		}
	}
}