#home {
	padding: 10px 20px;
	text-align: center;

	.description {
		font-size: 120%;
	}
}



#info {
	$margin-side: 20px;

	display: table;
	box-sizing: border-box;
	width: calc(100% - #{$margin-side * 2});
	margin: 10px $margin-side;
	border-collapse: collapse;

	tr.info-row {
		display: table-row;

		& > td {
			display: table-cell;
			padding: 5px 10px;
			border: solid 1px red;

			&:first-child {
				vertical-align: top;
			}
		}
	}

	.assets {
		td {
			padding: 0 10px;
			font-size: 80%;
			text-align: left;
		}
	}
}