#menu {
	@extend %unselectable;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	flex: 0 0 auto;

	%item {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		line-height: 1.2;
		font-size: 3rem;
		overflow: hidden;
		cursor: pointer;

		&.two-lines {
			line-height: 0.8;
			font-size: 2rem;
		}
	}

	.menu-item {
		@extend %item;
		@include designed-font;

		flex: 1 1 0;
		background: linear-gradient(transparent 80%, red);
		opacity: 0.5;

		&.selected {
			background: linear-gradient(transparent 50%, green);
			opacity: 1;
		}
	}

	.extra-menu-item {
		@extend %item;
		@include designed-font(blue);

		flex: 0 0 0;
		background: linear-gradient(transparent 50%, blue);
		transition: flex 300ms;

		&.selected {
			flex: 1 1 0;
		}
	}
}