#status {
	.characters {
		display: flex;
		flex-flow: column nowrap;

		.character {
			display: flex;
			flex-flow: column nowrap;
			margin: 1ex 0;
			padding: 2ex 0.5em;
			border: solid 1px red;
			border-radius: 1em;

			header {
				margin: 1ex 0;
				text-align: center;
			}

			.attributes {
				display: flex;
				flex-flow: column nowrap;

				.attribute {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					margin-top: 0.5ex;
					border-bottom: dashed 1px rgb(128, 0, 0);

					.attr-name { flex: 0 0 8em; }

					.attr-value {
						flex: 1 1 0;
						text-align: center;
					}
				}
			}

			.skills {
				display: flex;
				flex-flow: column nowrap;

				.skill {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					margin-top: 0.5ex;
					border-bottom: dashed 1px rgb(128, 0, 0);

					.skill-name { flex: 0 0 8em; }

					.skill-score {
						flex: 1 1 0;
						text-align: center;
					}
				}
			}

			.items {
				display: flex;
				flex-flow: column nowrap;

				.item {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					margin-top: 0.5ex;
					border-bottom: dashed 1px rgb(128, 0, 0);

					.item-name { flex: 0 0 8em; }

					.item-desc {
						flex: 1 1 0;
						font-size: 0.9em;
					}
				}
			}
		}
	}
}
