@import "variable";

.invisible {
	display: none;
}

.content {
	margin: 1em 0;

	a {
		color: $color-main;

		&:visited {
			color: $color-main-dark;
		}

		&:hover {
			color: $color-main-light;
		}
	}
}

.heading {
	margin: 1em 0;
	text-align: center;
	color: $color-main-dark;
	font-size: 1.5rem;
}

.license {
	border-top: solid 1px $color-main;
	border-bottom: solid 1px $color-main;
	line-height: 1.6;

	p {
		margin: 1em 0;
	}
}

.assets {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 3em;
}

.libraries {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 3em;
}

.asset-table,
.library-table {
	border-collapse: collapse;
	line-height: 1.6;
	font-size: 0.8em;

	thead {
		border-top: solid 1px $color-main-dark;
		border-bottom: solid 1px $color-main-dark;
	}

	tbody {
		border-top: solid 1px $color-main-dark;
		border-bottom: solid 1px $color-main-dark;

		tr:nth-child(odd) {
			background: rgba($color-text, 0.05);
		}
	}

	th,
	td {
		padding: 0.25em 0.5em;
		overflow: hidden;
		overflow-wrap: break-word;
	}

	th[scope=col] {
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.asset-table {
	th:nth-child(1) {
		text-align: left;
	}

	th:nth-child(2),
	td:nth-child(2) {
		text-align: left;
	}
}

.library-table {
	th:nth-child(1) {
		text-align: left;
	}

	th:nth-child(2),
	td:nth-child(2) {
		text-align: left;
	}

	th:nth-child(3),
	td:nth-child(3) {
		text-align: center;
	}
}
