@import "variable";
@import "mixin";

.dialog {
	$bg-edge: $color-main-dialog-bg;
	$bg-mid: $color-background;

	display: flex;
	position: relative;
	flex-flow: column nowrap;
	align-items: stretch;
	background: linear-gradient($bg-edge, $bg-mid 1rem, $bg-mid calc(100% - 1rem), $bg-edge);
	padding: 1rem 0;
	max-height: 80%;
}

.header {
	@include designed-font($color-text, $color-main);

	display: block;
	position: absolute;
	top: -1.5rem;
	right: 0;
	left: 0;
	text-align: center;
	line-height: 1;
	font-size: 3rem;
}

.content {
	overflow: auto;
}
