@import "mixin";

.dialog {
	display: flex;
	position: relative;
	flex-flow: column nowrap;
	align-items: stretch;
	background: linear-gradient(rgb(128, 0, 0), black 1rem, black calc(100% - 1rem), rgb(128, 0, 0));
	padding: 1rem 0;
	max-height: 80%;
}

.header {
	@include designed-font;

	display: block;
	position: absolute;
	top: -1.5rem;
	right: 0;
	left: 0;
	text-align: center;
	line-height: 1;
	font-size: 3rem;
}

.content {
	overflow: auto;
}
