@import "variable";

.page {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	padding: 1em;
}

.flexible {
	height: 100%;
}

.header {
	flex: 0 0 auto;
}

.heading {
	$c-p1: mix(white, $color-main, 60%);
	$c-m1: mix(black, $color-main, 40%);
	$c-m2: mix(black, $color-main, 60%);

	border-style: solid;
	border-image: linear-gradient(to right, $c-m1, $c-p1 5%, $c-m1 10%, transparent 75%);
	border-image-width: 0 0 1px 0;
	border-image-slice: 1 0;
	background-clip: text;
	background-image: linear-gradient($c-m2 50%, $c-p1);
	color: transparent;
}

.navs {
	display: flex;
	position: sticky;
	top: 1em;
	right: 1em;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	align-items: stretch;
	align-self: flex-end;
	justify-content: flex-end;
	z-index: 1;
	margin: 0.25em;
	background: rgba($color-background, 0.5);
}

.nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	color: $color-main;
	font-size: 1.5rem;
}

.content {
	flex: 1 1 0;
}
