.page {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	padding: 1ex 1em calc(1ex + 10px);
	height: 100%;
}

.heading {
	flex: 0 0 auto;
	align-self: center;
	text-align: center;
}

.navs {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: flex-end;
}

.content {
	flex: 1 1 0;
}
