.container {
	width: 100%;
	height: 100%;
}

.spinner {
	width: 10vh;
	height: 10vh;
}

.hint {
	opacity: 0.5;
	width: 80%;
	text-align: center;
	line-height: 1.6;

	p {
		margin: 1em 0;
	}
}
