@import "core/mixin";

.display {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	line-height: 0;
	font-family: "Times New Roman", monospace;
	font-size: 0;
}

.text {
	@include blur-text-double(0.1ex, 0.25ex, red);

	opacity: 0.5;
	color: white;
}

.critical {
	@include blur-text-double(0.1ex, 0.25ex, green);
}

.fumble {
	@include blur-text-double(0.1ex, 0.25ex, blue);
}

.canvas {
	font-size: 100px;
}
