@import "mixin";

.input {
	border: solid 1px rgb(128, 0, 0);
	border-radius: 1ex;
	background: transparent;
	padding: 0.5ex 0.5em;

	&:invalid {
		background: rgba(255, 0, 0, 0.25);
	}
}

.number {
	@include no-spin-button;

	text-align: center;
}

.checkbox {
	border-radius: 0.25em;
	padding: 0;
	width: 1em;
	height: 1em;
	appearance: none;
	text-align: center;
	line-height: 1;

	&::before {
		display: inline-block;
		vertical-align: middle;
		color: red;
		font-size: 0.8em;
		content: "";
	}

	&:checked::before {
		content: "\2713";
	}
}

