app-page#character-edit
	header.page-title
		h2 キャラクター編集
	.entry
		section.attributes
			header: h3 能力値
		section.skills
			header: h3 技能
			.point-stats
				span.consumed
				span /
				span.available
		section.items
			header: h3 所持品
		.actions
			button.ok.commit(type="button") OK
			button.cancel(type="button") Cancel
		template.attribute-template
			.attribute
				.name
				.value
				button.input(type="button") 入力
		template.skill-template
			.skill
				select.id(type="text", pattern="[\\w_]*")
				.base
				input.points(type="number", step="1")
				.value
		template.item-template
			.item
				input.name(type="text")
				input.description(type="text")

	#character-input-dialog.dialog(slot="dialog", data-title="Input")
		template.contents-template
			.contents
				.info
					.name
					| =
					.expression
				.inputs
				.value
				.buttons
					button.ok.commit(type="button") OK
					button.cancel(type="button") Cancel
		template.dice-input-template
			.input.dice
				.input-name
				.dice-view
				button.roll-button(type="button") Roll
		template.number-input-template
			.input.number
				.input-name
				input(type="number")
		template.text-input-template
			.input.text
				.input-name
				input(type="text")