app-page#character-edit
	header.page-title
		h2 キャラクター編集
	.entry
		section.attributes
			header: h3 能力値
			attribute-input(v-for="attribute in attributes", :key="attribute.uuid", :attribute="attribute", :evaluator="evaluator", :image="diceImage",
				:data="attributeParams[attribute.id]", @input="value => { updateAttributeParams(attribute.id, value); }")
		section.skills
			header: h3 技能
			.point-stats
				span.consumed {{ consumedSkillPoints }}
				span /
				span.available {{ availableSkillPoints }}
			.commands
				button(type="button", @click="newSkillSlot") 追加
				button(type="button", @click="deleteSkillSlot") 削除
			skill-input(v-for="(_, index) in skillSlots", :key="index", :skills="skills", :evaluator="evaluator" v-model="skillSlots[index]")
		section.items
			header: h3 所持品
			.commands
				button(type="button", @click="newItemSlot") 追加
				button(type="button", @click="deleteItemSlot") 削除
			.item(v-for="(_, index) in itemSlots", :key="index")
				select.id(type="text", pattern="[\\w_]*", v-model="id")
					option(value="", disabled) 未選択
					option(v-for="item in items", :value="item.uuid") {{ item.name }}
		.actions
			button.ok.commit(type="button", :disabled="!valid", @click="ok") OK
			button.cancel(type="button", @click="cancel") Cancel