@import "mixin";

#character-edit {
	.entry {
		& > section {
			& > header {
				margin-top: 2ex;
				text-align: center;
			}
		}
	}

	.attributes {
		display: flex;
		flex-flow: column nowrap;
	}

	.skills {
		display: flex;
		flex-flow: column nowrap;

		.point-stats {
			text-align: right;
			font-size: 1.2em;

			&.full { @include blur-text(1px, 0, green); }
			&.over { @include blur-text(1px, 0, red); }
		}
	}

	.items {
		display: flex;
		flex-flow: column nowrap;

		.item {
			display: flex;
			flex-flow: row nowrap;
			margin-top: 1ex;

			.name {
				flex: 1 1 auto;
				width: 0;
			}

			.description {
				display: none;
			}
		}
	}

	.actions {
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
		justify-content: flex-end;
		margin: 3ex 0 1ex;

		button {
			margin-left: 0.5em;
			width: 4em;
		}

		.ok { order: 1; }
		.cancel { order: 0; }
	}
}

#character-input-dialog {
	& > .contents {
		display: flex;
		flex-flow: column nowrap;

		.info {
			display: flex;
			align-items: center;
			align-self: center;
			flex-flow: row nowrap;
			justify-content: center;
			margin: 1ex 0;

			.name {
				margin: 0 0.5em;
			}

			.expression {
				margin: 0 0.5em;
			}
		}

		.inputs {
			display: flex;
			flex-flow: column nowrap;

			.input {
				display: flex;
				align-items: center;
				flex-flow: row nowrap;
				justify-content: flex-start;
				margin: 1ex 0;

				.input-name {
					flex: 0 0 6ex;
					text-align: right;
					text-overflow: ellipsis;
					white-space: nowrap;

					&::after {
						margin-right: 0.5em;
						content: ":";
					}
				}

				&.dice {
					.dice-view {
						display: flex;
						align-content: space-between;
						align-items: center;
						flex: 1 1 0;
						flex-flow: row wrap;
						justify-content: center;

						.dice-group {
							display: flex;
							flex-flow: row nowrap;

							.dice {
								display: inline-block;
								width: 3em;
								height: 3em;
								vertical-align: middle;
							}
						}
					}

					.roll-button {
						@include unselectable;
						@include designed-font;

						flex: 0 0 auto;
						border: none;
						background: transparent;
						cursor: pointer;
						vertical-align: middle;
						line-height: 1;
						font-size: 3em;
					}
				}

				&.number {
					input[type="number"] {
						flex: 1 1 auto;
						width: 0;
					}
				}

				&.text {
					input[type="text"] {
						flex: 1 1 auto;
						width: 0;
					}
				}
			}
		}

		.value {
			align-self: center;
			margin: 0.5ex 0;
			min-height: 1.6em;
			overflow-x: hidden;
			overflow-y: auto;
			text-align: center;
			word-break: break-all;
			font-size: 2em;
			overflow-wrap: break-word;
		}

		.buttons {
			display: flex;
			align-items: center;
			flex-flow: row nowrap;
			justify-content: flex-end;
			margin-top: 0.5ex;

			button {
				margin-left: 0.5em;
				width: 4em;
			}

			.ok { order: 1; }
			.cancel { order: 0; }
		}
	}
}
