.skill {
	display: grid;
	grid-template-columns: 2fr minmax(3em, 1fr) minmax(3em, 1fr) minmax(3em, 1fr);
	align-items: center;
}

.base {
	text-align: center;
}

.value {
	text-align: center;
}
