@import "variable";

.button {
	outline: none;
	border: solid 1px $color-main-button-dark;
	border-radius: 0.5ex;
	padding: 0.5em 0.75em;
	text-align: center;
	line-height: 1;
	white-space: nowrap;

	&:active {
		border-color: $color-main-button-light;
		background: $color-main-button-light;
	}
}

.commit {
	background: $color-main-button-dark;

	&:active {
		border-color: $color-main-button-light;
		background: $color-main-button-light;
	}

	&:disabled {
		background: $color-main-button-disabled;
	}
}
