.button {
	outline: none;
	border: solid 1px var(--color-main-button-dark);
	border-radius: 0.5ex;
	padding: 0.5em 0.75em;
	text-align: center;
	line-height: 1;
	white-space: nowrap;

	&:active {
		border-color: var(--color-main-button-light);
		background: var(--color-main-button-light);
	}
}

.commit {
	background: var(--color-main-button-dark);

	&:active {
		border-color: var(--color-main-button-light);
		background: var(--color-main-button-light);
	}

	&:disabled {
		background: var(--color-main-button-disabled);
	}
}
