@import "variable";
@import "mixin";

.input {
	outline: none;
	border: solid 1px $color-main-input-dark;
	border-radius: 1ex;
	background: transparent;
	padding: 0.5ex 0.5em;
	min-width: 0;

	&:invalid {
		background: rgba($color-main-input-invalid, 0.25);
	}
}

.number {
	@include no-spin-button;

	text-align: center;
}

.checkbox {
	appearance: none;
	border-radius: 0.25em;
	padding: 0;
	width: 1em;
	height: 1em;
	text-align: center;
	line-height: 1;

	&::before {
		display: inline-block;
		vertical-align: middle;
		color: $color-main-input-check;
		font-size: 0.8em;
		content: "";
	}

	&:checked::before {
		content: "\2713";
	}
}

.toggle {
	appearance: none;
	border-radius: calc(1ex + 1em);
	text-align: center;
	white-space: nowrap;

	&::before {
		display: inline;
		line-height: 1;
		content: attr(data-off);
	}

	&:checked {
		background: $color-main-input-dark;

		&::before {
			content: attr(data-on);
		}
	}
}
