@import "variable";
@import "mixin";

.invisible {
	display: none;
}

.input {
	outline: none;
	border: solid 1px $color-main-dark;
	border-radius: 0.5em;
	background: transparent;
	padding: 0.25em 0.5em;
	min-width: 0;

	&:invalid {
		background: rgba($color-main, 0.25);
	}
}

.number {
	@include no-spin-button;

	text-align: center;
}

.checkbox {
	display: inline-block;
	border: solid 1px $color-main-dark;
	border-radius: 25%;
	width: 1em;
	height: 1em;
	text-align: center;
	line-height: 1;
	white-space: nowrap;
	color: $color-main;

	&::before {
		visibility: hidden;
		content: "\2713";
	}

	&:hover {
		border-color: $color-main-light;
	}

	:checked + &::before {
		visibility: visible;
	}
}

.toggle {
	display: inline-block;
	border: solid 1px $color-main-dark;
	border-radius: 1.75em;
	cursor: pointer;
	padding: 0.375em 0.5em;
	text-align: center;
	line-height: 1;
	white-space: nowrap;

	&::before {
		content: attr(data-off);
	}

	:checked + & {
		background: $color-main-dark;

		&::before {
			content: attr(data-on);
		}
	}
}
