@import "mixin";

.button {
	--shadow-color: rgba(var(--color-vec-main), 0.5);

	@include unselectable;
	@include designed-font(var(--color-text), var(--color-main));

	outline: none;
	border: none;
	background: radial-gradient(ellipse closest-side at 50% 75%, var(--shadow-color), transparent);
	cursor: pointer;
	padding: 0 0.75em;
	line-height: 1;

	&:active {
		--shadow-color: rgba(var(--color-vec-accent-bright), 0.5);
	}

	&:disabled {
		--shadow-color: transparent;

		opacity: 0.75;
		cursor: auto;
		filter: contrast(50%);
	}
}
