@import "variable";

.list {
	display: flex;
	flex-flow: column nowrap;
	margin: 1ex 0;
	border-top: solid 1px $color-main-list-border;
	border-bottom: solid 1px $color-main-list-border;
	padding: 2ex 0.5em;
	overflow-x: hidden;
	overflow-y: auto;
}

.item {
	flex: 0 0 auto;
	border-bottom: dashed 1px $color-main-underline;
	padding-bottom: 0.5ex;
}
