.group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	margin: 0 var(--dice-group-margin, calc(var(--dice-margin)));
	min-width: 0;
	min-height: 0;
}

.dice {
	margin: 0 var(--dice-margin);
	width: var(--dice-width, auto);
	min-width: 0;
	max-width: 10vh;
	height: var(--dice-height, auto);
	min-height: 0;
	max-height: 10vh;
	object-fit: contain;
}
