section#dice.page
	.contents
		header.page-title
			h2 ダイスロール
		.result
			.dice-view
			.number-view
		.mode-list
			.mode(data-dice="custom") custom
			.mode(data-dice="1D10") 1D10
			.mode(data-dice="1D100") 1D100
			.mode(data-dice="1D6") 1D6
			.mode(data-dice="2D6") 2D6
			.mode(data-dice="3D6") 3D6
			.mode(data-dice="1D3") 1D3
			.mode(data-dice="2D3") 2D3
			.mode(data-dice="1D4") 1D4
		button.roll-button(type="button") Roll
	.overlay
		#custom-dice-dialog.dialog(data-title="Custom Dice")
			.contents
				.input-box
					input.count(type="number", min="1", max="10", value="1", step="1")
					| D
					input.max(type="number", min="1", max="100", value="100", step="1")
				.buttons
					button.ok.commit(type="button") OK
					button.cancel(type="button") Cancel