.app {
	--color-vec-background: 0, 0, 0;
	--color-background: rgb(var(--color-vec-background));
	--color-vec-overlay: 0, 0, 0;
	--color-text: white;
	--color-vec-main: 255, 0, 0;
	--color-main: rgb(var(--color-vec-main));
	--color-main-light: #f99;
	--color-main-dark: #900;
	--color-main-dark2: #600;
	--color-main-dialog-bg: #900;
	--color-main-underline: rgb(128, 0, 0);
	--color-main-button-dark: rgb(128, 0, 0);
	--color-main-button-light: rgb(255, 128, 128);
	--color-main-button-disabled: rgb(64, 0, 0);
	--color-main-input-dark: rgb(128, 0, 0);
	--color-vec-main-input-invalid: 255, 0, 0;
	--color-main-input-check: red;
	--color-main-list-border: red;
	--color-accent: green;
	--color-accent-light: limegreen;
	--color-vec-accent-bright: 0, 255, 0;
	--color-dice-critical: green;
	--color-dice-fumble: blue;

	position: relative;
	background: var(--color-background);
	width: 100%;
	height: 100%;
	line-height: 1.2;
	color: var(--color-text);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, sans-serif;
}

.overlay {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: center;
	z-index: 1;
	background: rgba(var(--color-vec-overlay), 0.5);
	overflow: hidden;

	&:empty {
		display: none;
	}
}

.container {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	z-index: 0;
	overflow: hidden;

	.overlay:not(:empty) ~ & {
		filter: blur(3px);
		pointer-events: none;
	}
}

.header {
	flex: 0 0 auto;
}

.content {
	flex: 1 1 0;
	overflow: auto;
}

.navigation {
	flex: 0 0 auto;
}
