@import "mixin";

.header {
	@include unselectable;

	border-bottom: #900 solid 1px;
	text-align: center;
}

.title {
	display: inline;
	cursor: pointer;
}

.title-text {
	@include designed-font;
}
