@import "mixin";

.header {
	@include unselectable;

	border-bottom: var(--color-main-dark) solid 1px;
	text-align: center;
}

.title {
	display: inline;
	cursor: pointer;
}

.title-text {
	@include designed-font(var(--color-text), var(--color-main));
}
