@import "variable";
@import "mixin";

.header {
	@include unselectable;

	border-bottom: $color-main-dark solid 1px;
	text-align: center;
}

.title {
	display: inline;
	cursor: pointer;
}

.title-text {
	@include designed-font($color-text, $color-main);
}
