@import "variable";

.menu {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	grid-column-gap: 0.5em;
	align-items: center;
	margin: 0 0.5em;
}

.icon {
	cursor: pointer;
	vertical-align: middle;
	color: $color-main-light;
	font-size: 1.5rem;
}

.muted {
	opacity: 0.5;
}
