@import "mixin";

.navigation {
	@include unselectable;

	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}

%item-size {
	flex: 1 1 0;
	transition: flex 300ms, visibility 300ms;
	visibility: visible;
	overflow: hidden;

	&.hidden {
		flex: 0 0 0;
		visibility: hidden;
	}
}

%item-layout {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

%item-display {
	opacity: 0.5;
	background: linear-gradient(transparent 80%, var(--color-main));
	cursor: pointer;
	font-size: 3rem;

	&.active {
		opacity: 1;
		background: linear-gradient(transparent 50%, var(--color-accent));
		cursor: default;
	}

	&.two-lines {
		line-height: 0.8;
		font-size: 2rem;
	}

	&.indicator {
		@include designed-font(var(--color-text), var(--color-accent-light));
	}
}

.nav-item {
	@extend %item-size;
	@extend %item-layout;
	@extend %item-display;

	@include designed-font(var(--color-text), var(--color-main));
}
