.skill {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	margin-top: 1ex;
}

.id {
	flex: 1 1 8em;
}

.base {
	flex: 1 0 4ex;
	text-align: center;

	&::before {
		content: "+";
	}
}

.points {
	flex: 0.5 0 auto;
	width: 3ex;
}

.value {
	flex: 1 0 4ex;
	text-align: center;
}
