$color-background: black;
$color-overlay: black;
$color-text: white;
$color-text-glare: invert($color-background);

$color-main: red;
$color-main-bright: mix($color-main, change-color($color-main, $lightness: 50%), 50%);
$color-main-lighter: mix(white, $color-main, 67%);
$color-main-light: mix(white, $color-main, 33%);
$color-main-dark: mix(black, $color-main, 33%);
$color-main-darker: mix(black, $color-main, 67%);

$color-accent: green;
$color-accent-bright: mix($color-accent, change-color($color-accent, $lightness: 50%), 50%);
$color-accent-lighter: mix(white, $color-accent, 67%);
$color-accent-light: mix(white, $color-accent, 33%);
$color-accent-dark: mix(black, $color-accent, 33%);
$color-accent-darker: mix(black, $color-accent, 67%);

$color-dice-normal: red;
$color-dice-critical: green;
$color-dice-fumble: blue;
