$color-background: black;
$color-overlay: black;
$color-text: white;
$color-main: red;
$color-main-light: #f99;
$color-main-dark: #900;
$color-main-dark2: #600;
$color-main-dialog-bg: #900;
$color-main-underline: rgb(128, 0, 0);
$color-main-button-dark: rgb(128, 0, 0);
$color-main-button-light: rgb(255, 128, 128);
$color-main-button-disabled: rgb(64, 0, 0);
$color-main-input-dark: rgb(128, 0, 0);
$color-main-input-invalid: red;
$color-main-input-check: red;
$color-main-list-border: red;
$color-accent: green;
$color-accent-light: limegreen;
$color-accent-bright: lime;
$color-dice-critical: green;
$color-dice-fumble: blue;
