.app
	.resources(v-show="false")
		img(src="image/dice.png", data-layout="image/dice.json", ref="diceImage")
		audio(src="audio/dice.wav", preload="auto", ref="diceSound")
	page-header.header
	main.page
		router-view
	page-navigation.navigation