#app
	#resources(v-show="false")
		img#dice-image(src="image/dice.png", data-layout="image/dice.json")
		audio#dice-sound(src="audio/dice.wav", preload="auto")
	header#header
		h1#title(@click="toHome") Cthulhu Tools
	main#main
		component(:is="page")
	nav#menu
		div.menu-item(:class="{active: inDice}", @click="toDice") Dice
		div.menu-item(:class="{active: inStatus}", @click="toStatus") Status
		div.extra-menu-item.two-lines(:class="{active: inCharacterManagement}")
			span Character
			span Management
		div.extra-menu-item.two-lines(:class="{active: inCharacterEdit}")
			span Character
			span Edit