.app
	.resources(v-show="false")
		img(src="image/dice.png", data-layout="image/dice.json", ref="diceImage")
		audio(src="audio/dice.wav", preload="auto", ref="diceSound")
	.overlay
		dialog-slot
	.container
		page-header.header
		router-view.page
		page-navigation.navigation