.form {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.characters {
	flex: 1 1 0;
}

.character {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.name {
	flex: 1 1 0;
	margin-left: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2em;
}

.visibility {
	box-sizing: content-box;
	flex: 0 0 auto;
	width: 3.5em;
	font-size: 0.9em;
}

.commands {
	flex: 0 0 auto;
}
