.attribute {
	display: flex;
	align-items: flex-end;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	margin-top: 1.5ex;
	border-bottom: dashed 1px rgb(128, 0, 0);
	padding-bottom: 0.5ex;
	line-height: 1.4;
}

.name {
	flex: 0 0 8em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.input {
	display: flex;
	align-items: center;
	flex: 1 1 0;
	flex-flow: row wrap;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value {
	flex: 0 0 8em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
