doctype html
html
	head
		title クトゥルフTRPG ツール
		meta(charset="utf-8")
		meta(http-equiv="Content-Security-Policy", content="default-src 'self'")
		meta(name="description", content="クトゥルフTRPGのためのツール。ダイスやステータス管理など。")
		meta(name="author", content="F_")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="main.css")
		link(rel="icon", type="image/png", href="image/icon.png")
		script(src="main.js")
	body
		#resources
			img#dice-image(src="image/dice.png", data-layout="image/dice.json")
			audio#dice-sound(src="audio/dice.wav", preload="auto")
		#app
			header#header
				h1#title(data-nav="home") Cthulhu Tools
			main#main
				include home
				include dice
				include status
				include character-management
				include character-edit
			nav#menu
				div#menu-dice.menu-item(data-page="dice", data-nav="dice") Dice
				div#menu-status.menu-item(data-page="status", data-nav="status") Status
				div#menu-character-management.extra-menu-item.two-lines(data-page="character-management") #[span Character]#[span Management]
				div#menu-character-edit.extra-menu-item.two-lines(data-page="character-edit") #[span Character]#[span Edit]