.dice-circle-layout(:style="{ '--dice-size': `${this.innerRadius}px` }")
	.dice-container(v-for="(group, n) in display", :style="{ left: `${positions[n].x}px`, top: `${positions[n].y}px` }")
		slot(:group="group")