@import "variable";

.skills {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.category {
	align-self: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
	border: solid 1px $color-main-dark;
	width: 95%;
	text-align: center;
	line-height: 1.6;
}

.group {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-auto-flow: row;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	margin: 1em 0;
	font-size: 80%;
}

.skill {
	border: dashed 1px transparent;
	border-bottom-color: $color-main-dark;
	padding: 0.25em 0.5em;

	&.edit {
		transition: border 0.5s, background-color 0.5s;
		border: solid 1px $color-main-dark;
		border-radius: 0.5em;
		background-color: rgba($color-main, 0.1);

		&:hover {
			background-color: $color-main-light;
			cursor: pointer;
		}
	}
}

.name {
	opacity: 0.95;
	margin-bottom: 0.25em;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 75%;
}

.value {
	position: relative;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.points {
	position: absolute;
	right: 0;
	opacity: 0.5;
}
