app-page#status
	header.page-title
		h2 ステータス
	nav.navigations
		router-link(tag="button", type="button", to="/status/character-management") 管理
	.characters
		section.character(v-for="character in characters", :key="character.$uuid")
			section
				header: h3 人物/能力
				dl.attributes
					.attribute(v-for="attribute in character.$attributes", :key="attribute.uuid", :class="attribute.type")
						dt.attr-name {{ attribute.name }}
						dd.attr-value {{ character[attribute.id] }}
			section
				header: h3 技能
				dl.skills
					.skill(v-for="skill in character.$skills", :key="skill.id")
						dt.skill-name {{ skill.name }}
						dd.skill-score {{ character[skill.id] }}
			section
				header: h3 所持品
				dl.items
					.item(v-for="item in character.$items", :key="item.uuid")
						dt.item-name {{ item.name }}
						dd.item-desc {{ item.description }}