@import "variable";

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.characters {
	flex: 1 1 auto;
}

.character {
	display: flex;
	flex: 0 0 auto;
	flex-flow: column nowrap;
	margin: 1ex 0;
	border: solid 1px $color-main;
	border-radius: 1em;
	padding: 2ex 0.5em;

	header {
		margin: 1ex 0;
		text-align: center;
	}
}

.attributes {
	display: flex;
	flex-flow: column nowrap;
}

.attribute {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 0.5ex;
	border-bottom: dashed 1px $color-main-dark;

	.name { flex: 0 0 8em; }

	.value {
		flex: 1 1 0;
		text-align: center;
	}
}

.skills {
	display: flex;
	flex-flow: column nowrap;
}

.skill {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 0.5ex;
	border-bottom: dashed 1px $color-main-dark;

	.name { flex: 0 0 8em; }

	.value {
		flex: 1 1 0;
		text-align: center;
	}
}

.items {
	display: flex;
	flex-flow: column nowrap;
}

.item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 0.5ex;
	border-bottom: dashed 1px $color-main-dark;

	.name { flex: 0 0 8em; }

	.description {
		flex: 1 1 0;
		font-size: 0.9em;
	}
}

.pager {
	display: grid;
	position: sticky;
	bottom: 0.5em;
	flex: 0 0 auto;
	grid-template-columns: auto minmax(5%, 1fr) auto minmax(5%, 1fr) auto;
	margin: 0.5em 0;
}

.indicator {
	grid-column: 3;
	background: rgba($color-background, 0.5);
	padding: 0.5em;
	overflow: hidden;
	overflow-wrap: break-word;
}

.shift {
	outline: none;
	filter: drop-shadow(0 0 5px $color-background);

	&:active {
		transform: scale(1.2);
	}
}

.prev {
	grid-column: 1;
}

.next {
	grid-column: 5;
}
