@import "variable";

.container {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.list {
	flex: 1 1 auto;
}

.status {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0 3px;
	border: solid 1px $color-main;
	padding: 1em 1em;
}

.name {
	margin: 0.5em 0;
	text-align: center;
	font-size: 1.25rem;
}

.pager {
	display: grid;
	position: sticky;
	bottom: 0.5em;
	flex: 0 0 auto;
	grid-template-columns: auto minmax(5%, 1fr) auto minmax(5%, 1fr) auto;
	margin: 0.5em 0;
}

.indicator {
	grid-column: 3;
	background: rgba($color-background, 0.5);
	padding: 0.5em;
	overflow: hidden;
	overflow-wrap: break-word;
}

.shift {
	outline: none;
	filter: drop-shadow(0 0 5px $color-background);

	&:active {
		transform: scale(1.2);
	}
}

.prev {
	grid-column: 1;
}

.next {
	grid-column: 5;
}
