@import "variable";

@keyframes bounce {
	0% { transform: none; }
	20% { transform: translateY(-16%); }
	40% { transform: translateY(-24%); }
	60% { transform: translateY(-24%); }
	80% { transform: translateY(-16%); }
	100% { transform: none; }
}

.container {
	display: flex;
	position: relative;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

.list {
	flex: 1 1 auto;
}

.track {
	position: absolute;
	top: 0;
	right: -0.25em;
	bottom: 0;
	line-height: 1;
	font-size: 2.5rem;
}

.commands {
	position: sticky;
	top: 3em;
	margin-top: 1.5em;
}

.command {
	outline: none;
	border-radius: 1em;
	background: $color-main-dark;
	padding: 0.5em;
	color: $color-text;
	font-size: 50%;

	&.active {
		background: $color-main-light;
		animation: 0.75s infinite linear bounce;
	}
}

.pager {
	display: grid;
	position: sticky;
	bottom: 0.5em;
	flex: 0 0 auto;
	grid-template-columns: auto minmax(5%, 1fr) auto minmax(5%, 1fr) auto;
	margin: 0.5em 0;
}

.indicator {
	grid-column: 3;
	background: rgba($color-background, 0.5);
	padding: 0.5em;
	overflow: hidden;
	overflow-wrap: break-word;
}

.shift {
	outline: none;
	filter: drop-shadow(0 0 5px $color-background);

	&:active {
		transform: scale(1.2);
	}
}

.prev {
	grid-column: 1;
}

.next {
	grid-column: 5;
}
