p
	span 本アプリに入力したデータは IndexedDB API により、アクセスした端末内部にのみ保存されます。
	span 端末あるいはブラウザの、設定または操作により、これらのデータが削除されると復元はできません。
p
	span また現在ベータ版につき、データの永続性は保証しません。
	span アプリのアップデートに伴い、データが破棄あるいは読み込めなくなる可能性があります。