app-page#home
	header.page-title
		h2 クトゥルフTRPGのための#[wbr]Webアプリ
	section
		header: h3.heading Summary
		p クトゥルフTRPGで遊ぶためのツール群です。
		p 現在の機能は次の通り。
		ul
			li ダイスロール
			li ステータス管理
		p ページ下部のナビゲーションから機能を選択してご利用ください。
	section
		header: h3.heading Caution
		p
			| 本ツールにて管理されるデータはWeb Storage APIにより、ブラウザ内部に保存されます。
			wbr
			| ブラウザの設定または操作により、これらのデータが削除されると復元はできません。
			wbr
			| 重要なデータはダウンロードし、バックアップを保持してください。
	section
		header: h3.heading Assets
		dl.assets.table
			div
				dt #[a(href="https://commons.nicovideo.jp/material/nc67333") エルダーサイン]
				dd ©ペペロンチーノ☆鈴木
			div
				dt #[a(href="https://commons.nicovideo.jp/material/nc116805") クトゥルフ用10面、6面ダイス]
				dd ©うににゃん
			div
				dt #[a( href="https://commons.nicovideo.jp/material/nc42340") ダイス音・2（2D10）]
				dd ©ウッドダイスP
			div
				dt #[a(href="http://inatsuka.com/extra/nekomezame/") Neko_no_Mezame]
				dd ©稲塚 春
	section
		header: h3.heading Libraries
		dl.libraries.table
			div
				dt #[a(href="https://github.com/dchest/fast-sha256-js") fast-sha256]
				dd Public Domain
			div
				dt #[a(href="https://github.com/StableLib/stablelib") StableLib]
				dd ©Dmitry Chestnykh (#[a(href="https://github.com/StableLib/stablelib/blob/master/LICENSE") MIT License])
			div
				dt #[a(href="https://github.com/silentmatt/expr-eval") JavaScript Expression Evaluator]
				dd ©Matthew Crumley (#[a(href="https://github.com/silentmatt/expr-eval/blob/master/LICENSE.txt") MIT License])
	section
		header: h3.heading License
		.license
			p MIT License
			p Copyright (c) 2017 F_
			p.
				Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation
				files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use,
				copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to
				whom the Software is furnished to do so, subject to the following conditions:
			p.
				The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
			p.
				THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
				OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
				HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
				ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.