@import "mixin";

.dice-view {
	@include unselectable;

	position: relative;
}

.dice-layout {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity 300ms;
	z-index: 1;
	overflow: hidden;

	&:active {
		opacity: 0.25;
	}
}

.dice-group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	margin: 0 var(--dice-group-margin, calc(var(--dice-margin)));
	min-width: 0;
	min-height: 0;
}

.dice {
	margin: 0 var(--dice-margin);
	min-width: 0;
	max-width: 10vh;
	min-height: 0;
	max-height: 10vh;
}

.dice-number {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
}
