@import "~scss/mixin";

.dialog {
	display: flex;
	position: relative;
	align-items: stretch;
	flex-flow: column nowrap;
	background: linear-gradient(rgb(128, 0, 0), black 1rem, black calc(100% - 1rem), rgb(128, 0, 0));
	padding: calc(1rem + 1ex) 1em;
	max-height: 80%;
}

.title {
	@include designed-font;

	display: block;
	position: absolute;
	top: -2ex;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 3rem;
}

.contents {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
