@import "variable";

.attribute {
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	align-items: flex-end;
	margin-top: 1.5ex;
	border-bottom: dashed 1px $color-main-dark;
	padding-bottom: 0.5ex;
}

.name {
	flex: 0 0 8em;
	margin: 0 0.25em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.input {
	display: flex;
	flex: 1 1 0;
	flex-flow: row wrap;
	align-items: center;
	margin: 0 0.25em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.value {
	flex: 0 0 4em;
	margin: 0 0.25em;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
