.page {
	box-sizing: border-box;
	display: flex;
	position: relative;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: flex-start;
	background: linear-gradient(rgba(255, 0, 0, 0.5), transparent 20px);
	padding: 1ex 1em calc(1ex + 10px);
	overflow-x: hidden;
	overflow-y: auto;

	& /deep/ .page-title {
		flex: 0 0 auto;
		align-self: center;
		text-align: center;
	}

	& /deep/ .navigations {
		display: flex;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		align-items: stretch;
		justify-content: flex-end;
	}
}
