doctype html
html
	head
		title クトゥルフTRPG ツール
		meta(charset="utf-8")
		if process.env.NODE_ENV === 'production'
			meta(
				http-equiv="Content-Security-Policy",
				content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' blob:; media-src 'self' blob:")
		meta(name="description", content="クトゥルフTRPGのためのツール。ダイスやステータス管理など。")
		meta(name="author", content="F_")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="manifest", href="manifest.json")
		link(rel="icon", type="image/png", sizes="192x192", href="icon/favicon.png")
		link(rel="apple-touch-icon", type="image/png", sizes="192x192", href="icon/icon_192x192.png")
	body
		#app