@import "mixin";

* {
	box-sizing: unset;
	margin: unset;
	outline: unset;
	border: unset;
	background: unset;
	padding: unset;
	color: unset;
	font: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.83rem; }
h6 { font-size: 0.67rem; }

a {
	color: red;
}

%input {
	border: solid 1px rgb(128, 0, 0);
	border-radius: 1ex;
	background: transparent;
	padding: 0.5ex 0.5em;

	&:invalid {
		background: rgba(255, 0, 0, 0.25);
	}
}

input[type="text"] {
	@extend %input;
}

input[type="number"] {
	@extend %input;

	@include no-spin-button;

	text-align: center;
}

input[type="checkbox"] {
	display: none;

	& + *::before {
		display: inline-block;
		border: solid 1px rgb(128, 0, 0);
		border-radius: 0.25em;
		background: transparent;
		width: 1em;
		height: 1em;
		vertical-align: middle;
		text-align: center;
		line-height: 1;
		color: red;
		content: "";
	}

	&:checked + *::before {
		content: "\2713";
	}
}

option {
	background: black;
}

button {
	border: solid 1px rgb(128, 0, 0);
	border-radius: 0.5ex;
	padding: 0.5ex 0.5em;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;

	&:active {
		border-color: rgb(255, 128, 128);
		background: rgb(255, 128, 128);
	}

	&:global(.commit) {
		background: rgb(128, 0, 0);

		&:active {
			border-color: rgb(255, 128, 128);
			background: rgb(255, 128, 128);
		}
	}
}
