@import "mixin";

.dice-view {
	flex: 1 1 0;
	margin: 1em 0;
	min-height: 20vh;
}

.dice-set-list {
	@include unselectable;

	display: flex;
	flex: 0 0 auto;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 1ex 0;
	padding: 0 1em;

	& > .dice-set {
		box-sizing: border-box;
		flex: 1 1 auto;
		margin: 1ex 0.25em;
		border: solid 1px red;
		border-radius: 2ex/50%;
		cursor: pointer;
		width: calc(30% - 0.25em);
		text-align: center;

		&.active {
			background: red;
		}
	}
}

.roll-button {
	@include unselectable;
	@include designed-font;

	flex: 0 0 auto;
	align-self: center;
	border: none;
	background: radial-gradient(ellipse closest-side at 50% 75%, rgba(255, 0, 0, 0.5), transparent);
	cursor: pointer;
	padding: 0 0.75em;
	line-height: 1;
	font-size: 5rem;

	&:active {
		background: radial-gradient(ellipse closest-side at 50% 75%, rgba(0, 255, 0, 0.5), transparent);
	}
}
