app-page#dice
	header.page-title
		h2 ダイスロール
	dice-view.dice-view(:dice-set="diceSet", :values="values", ref="view")
	.dice-set-list
		.dice-set(:class="{active: type === CUSTOM_TYPE}", @click="openCustomDiceDialog") custom
		.dice-set(:class="{active: type === preset}", @click="type = preset", v-for="preset in presets") {{ preset }}
	button.roll-button(type="button", @click="roll") Roll